@import "tailwindcss";
/* src/index.css o src/main.css */


:root {
  --color-primary-light: #f9abee;
  --color-text-dark: #171717; 
}

html {
  font-size: 1rem;
  box-sizing: border-box;
}

/* Restaura el modelo de caja para todos los elementos, incluyendo pseudo-elementos */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-primary-light); /* Mejor 'background-color' que solo 'background' */
  color: var(--color-text-dark); /* Mejor 'color' que 'foreground' */
  font-family: var(--font-rubik), sans-serif;
  font-weight: 300; /* Recomiendo 400 (Regular) para texto de cuerpo base */
  margin: 0;
  padding: 0;
  /* Opcional: Define una altura mínima para el body si quieres que siempre ocupe la pantalla */
  width: 100%;
  min-height: 100vh; /* Opcional: Esto asegura que el body ocupe al menos toda la altura de la ventana */
  display: flex; /* Opcional: Si tu layout principal va dentro del body y quieres que se expanda */
  flex-direction: column; /* Opcional: Para layouts de "sticky footer" o main content */
  justify-content: space-between;
}

/* Puedes añadir estilos para elementos específicos aquí si es necesario (ej. enlaces, botones) */
/* a {
  text-decoration: none;
  color: var(--color-text-dark);
} */

.button {
  background-color: #f9abee;
  box-shadow: 1px 2px 10px 0#d14ec0;
  color: #682d60;
}
