@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css o src/main.css */

:root {
  --color-primary-light: #f9a9ee;
  --color-text-dark: #171717;
}

html {
  font-size: 1rem;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Restaura el modelo de caja para todos los elementos, incluyendo pseudo-elementos */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(
    90deg,
    rgba(249, 169, 238, 1) 0%,
    rgba(189, 74, 173, 1) 50%,
    rgba(161, 26, 143, 1) 100%
  );
  color: var(--color-text-dark); /* Mejor 'color' que 'foreground' */
  font-family: var(--font-rubik), sans-serif;
  font-weight: 300; /* Recomiendo 400 (Regular) para texto de cuerpo base */
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Opcional: Esto asegura que el body ocupe al menos toda la altura de la ventana */
  display: flex; /* Opcional: Si tu layout principal va dentro del body y quieres que se expanda */
  flex-direction: column; /* Opcional: Para layouts de "sticky footer" o main content */
  justify-content: space-between;
}


.text-light{
  color: #fecaf7;
}

.text-shadow{
  color: #3b0935;
}

.text-colorMedium {
  color: #ffa3f4;
}

.text-title {
  font-size: 2rem;
}

.tracking-text {
  letter-spacing: -0.9px;
}

.button-fx {
  box-shadow: 2px 2px 3px 0 #991f89;
  transition: all 200ms ease-in-out;

  &:hover {
    background-color: #47063f;
    color: #d972cb;
    box-shadow: 0.5px 0.5px 3px 0 #fa95ec;

  }
}

.link-fx {
  transition: all 100ms ease-in-out;

  &:hover {
    font-weight: 400;
    color: #ffd4fa;
  }
}

.bg-card {
  background-color: #903585;
}

.bg-footer {
  background-color: #bb19a8;
}

.bg-navbar {
  background-color: #6c2263d2;
}

.bg-dark {
  background-color: #98318c98;
}

